[user]
    name = nrlquaker
    email = ustynov.vy@gmail.com
    signingkey = 9BB4BA9126E06D61
[core]
    editor = vim
    quotepath = false
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
    mergeoptions = --no-edit
    autocrlf = input
    pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[fetch]
    prune = 1
[pull]
    rebase = true
[credential]
    helper = osxkeychain
[alias]
    st = status -sb -uall
    cho = checkout
    tree = log --graph --oneline --decorate
    l = log --decorate --pretty=format:\"%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %an, %C(cyan)%cr%C(reset): %s\"
[diff]
    wsErrorHighlight = all
[commit]
    gpgsign = true
[color]
    status = always
[diff "plist"]
    textconv = plutil -convert xml1 -o -
[interactive]
    diffFilter = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight
[init]
    defaultBranch = master
